[user]
	name = Nick Meldrum
	email = nick@nickmeldrum.com
[alias]
	st = status
	cm = commit -v -m
	ad = add -A
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	files = "!f() { git diff --name-status $1^!; }; f"
	d = difftool
[pull]
	rebase = false
[diff]
	tool = vimdiff
[difftool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[difftool "fugitive"]
	cmd = vim -f -c vdiff
[merge]
	tool = vimdiff
[mergetool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[mergetool "fugitive"]
	cmd = vim -f -c vdiff $MERGED
[push]
	default = simple
[core]
	editor = vim
	longpaths = true
	excludesfile = ~/.globalgitignore
    #pager = cat
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
    #helper = !'D:\\nickmeldrum\\gitcredentialstore\\git-credential-winstore\\bin\\Debug\\git-credential-winstore.exe'
    #helper = osxkeychain
[mergetool]
	keepBackup = false
[difftool]
	prompt = false
[github]
	user = nickmeldrum
[ghi]
	token = !security find-internet-password -a nickmeldrum -s github.com -l 'ghi token' -w
[http]
    sslVerify = false
[credential]
	helper = osxkeychain
